<ion-header>
</ion-header>

<ion-content>
    <div style="text-align:center">
        <h1>
          WHICH COFFEE WOULD YOU LIKE?
        </h1>
      </div>
      <div *ngIf = "responseData != undefined">
      <img src="{{responseData.avatar_url}}" alt="">
      </div>
        <ion-button color="primary" (click)="coffeeSelcted('mocha')" [disabled]="!isEnabled"> Mocha</ion-button>
        <ion-button color="primary" (click)="coffeeSelcted('cappuccino')" [disabled]="!isEnabled">Cappuccino </ion-button>

      <div *ngIf="buttonCliked">
        <p>You are ordered an awsome {{selectedCoffee}}.</p>
        <ion-button color="warning" (click)="cancelCoffee()"> Cancel</ion-button>
      </div>
      <div *ngIf="coffeeReady">
        <p>Your order is ready ! </p>
        <ion-button color="success" (click)="cancelCoffee()"> Collect your order </ion-button>
      </div>
</ion-content>
